<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/welcome}">

<head>
    <meta charset="UTF-8">
    <title>Trips </title>

</head>


<body>
<div layout:fragment="main" class="container">
    <form th:action="@{/trips}" th:object="${tr}" method="GET">
        <div class="form-group">
            <label for="tripx">Trip</label>
            <select class="form-control" id="tripx" name="tripx" onchange="this.form.submit()">
                <option th:value="${tr.tripId}" th:text="${tr.tripname}"></option>
                <option
                        th:each="tripx: ${trips}"
                        th:value="${tripx.tripId}"
                        th:text="${tripx.tripname}">
                </option>
            </select>


            <div class="col-md-4">
                <form th:action="@{/add-trips}" method="post">
                    <input type="hidden" name="id" th:value="${trip.id}"/>
                    <input type="button" class="btn btn-info" value="Add"/>
                </form>
                <button type="button" class="btn btn-info" style="margin-right:10px;">ADD</button>
                <form th:action="@{/trips/delete}" method="post">
                    <input type="hidden" name="id" th:value="${trip.id}" />
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>

            <div>
                <form th:action="@{/add-trip-photo(${_csrf.parameterName}=${_csrf.token})}" method="post" enctype="multipart/form-data">
                    <input type="file" name="files" multiple>
                    <input type="submit" value="Upload Files">
                </form>
            </div>
        </div>
    </form>
        </div>
        </div>
    </form>





</div>
</body>
</html>