<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <title th:text="#{users.title}"></title>
</head>
<body>


<div layout:fragment="continut">
    <div class="container">
        <h2>Users profile</h2>
        <table class="table table-striped">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.firstName}">fd</td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.city}"></td>
                <td th:text="${user.address}"></td>
                <td th:text="${user.phoneNumber}"></td>

                <td><form th:action="@{/users/delete}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form></td>
            </tr>
        </table>
        <a th:href="@{users/add}">Add user</a>
    </div>
</div>
</body>
</html>